apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: looply
  namespace: looply
  labels:
    app: looply
    tier: ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: client-service
                port:
                  number: 3000
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: server-service
                port:
                  number: 8000
